html,body{
    height:100%;
}

.welcome-panel{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.error{
    color: rgb(207, 22, 22);
}

.ui-state-default{
    padding: 10px 15px;
    margin-bottom: 5px;
    position: relative;
}

.ui-state-default .btn-danger{
    position: absolute;
    right: 5px;
    top: 5px;
}

.button-keren {
    color: white; 
    background-color: rgb(209, 82, 3); 
    border-color: white; 
    width: 100px; 
    font-size: 20px;
}

.button-keren:hover{
    color: rgb(209, 82, 3); 
    background-color: white; 
    border-color: rgb(209, 82, 3); 
    width: 100px; 
    font-size: 20px;
}

.welcome-dashboard {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 50px;
    font-weight: 400;
    color: rgb(209, 82, 3);
}

