html,body{
    height:100%;
}

.welcome-panel{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.error{
    color: rgb(207, 22, 22);
}